.tamplate{
    text-align:center;
    margin:0px;
    background-size: cover;
    /* background-image: url(pinkbg.jpeg); */
    padding: 50px 0px 0px 0px;
}

.regbox{
    width: 500px;
    height: 500px;
    margin:100px;
    border-radius: 100px;
    text-align:center;
    background-color:rgba(252, 252, 252, 0.168);
    /* background-image: url(pinkbg.jpeg); */
    padding: 50px 0px 0px 0px;
}

/* updateform */
.body{
    width: 800px;
    text-align:center;
    padding: 100px 100px 100px 100px;
}

.regup{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 400px;
    height: 400px;
    margin: 150px 500px;
    border-radius: 10px 10px;
    text-align:center;
    background-color:rgb(184, 226, 248);
}

/* Profiledata */
.Card {
    display:inline-block;
    align-content: space-between;
    max-width: 1000px;
    max-height: 1000px;
    margin: 30px;
    padding: 30px;
    /* transition: transform 5s; */
  }
  
  /* .Card:hover {
    transform: scale(1.5);
  } */

/* Homepage */
  .Home-header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 10%;
    border-radius: 0px;
    margin: 0px 10px;
    padding: 20px 100px 20px 100px;
    background: #fdfdfd;
    box-shadow: 0 2px 4px rgba(32, 32, 32, 0.518);
  }

  /* product table */
  .Table-header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin: 0px;
    padding: 10px 30px 10px 30px;
    background: #fdfdfd;
    box-shadow: 0 2px 4px rgba(32, 32, 32, 0.518);
  }


  /* signinForm */
  .form-listing {
    display: flex;
    background-image:url(https://source.unsplash.com/random?wallpapers) ;
    background-size:cover;
    box-shadow: 0 2px 4px rgba(98, 96, 96, 0.1);
    padding: 250px 50px;
    /* width: 1000px;
    height: 1000px; */
    /* justify-content: space-between;  */
    align-content: center;
  }
  .form-card {
      text-align: center;
      align-content: center;
      width: 500px;
      height: 500px;
      border-radius: 10px 10px;
      margin: 10px 750px;
      padding: 50px 50px;
      background: #fdfdfd;
      box-shadow: 0 2px 4px rgba(32, 32, 32, 0.518);
  }